// Styling for the features section
section.features {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;

    .colPC{
        @media(min-width: 992px) {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

    .section-heading {
        margin-bottom: 0px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 10px 10px 10px;

        
    }
    .device-container {
        margin-bottom: 0px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        padding-top: 20px;
        padding-bottom: 0px;
        text-align: center;
        h3 {
            font-size: 30px;
        }
    }
}
